h1 {
    text-align: center;
}
.lobbyList {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 10px 5px;
    margin: 3px;
}
.lobbyDetails {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 10px 5px;
    margin: 3px;
}
.lobbyButton {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--light);
    padding: 10px;
    margin: 6px 0;
    border: none;
    text-align: left;
    cursor: pointer;
    display: block;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}
.lobbyHeader {
    display: flex;
    align-items: center;
}
.lobbyName {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.lobbyBadge {
    margin-left: 10px; /* Space between name and badge */
    text-align: center;
    border-radius: 1em;
    height: 2em;
    width: 2em;
    background: red;
    color: white;
    font-size: small;
    line-height: 2em;
}
.lobbyInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: small;
}

.newLobbyButton {
  position: absolute;
    top: calc(100% - 50pt);
    left: calc(100% - 50pt);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 999; /* high z-index */
    background: #000; /* fallback */
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 50%;
    font-size: xx-large;
    line-height: 36pt;
    font-family: HelveticaNeue-Light;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.contact_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  width: calc(100%-10em);
  height: 3em;
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  text-overflow: ellipis;
  overflow: hidden;
  display: inline-block;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.w100 {
width: 100%;
}
.light {
  background-color: #ebf4fa; // var(--light);
}

.popup-Content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
.no-top-margin {
    margin-top: 0; /* Remove the top margin */
}

.popupCreateLobby-Members{
    overflow-y: auto;
    overflow-x: hidden;
}
.lobbyMenu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.lobbyMenu-button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.lobbyMenu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.lobbyMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.buttontext {
/*font-size: small;*/
background-size: contain;
background-repeat: no-repeat;
background-position: center;
/*height: 50px;*/
/*padding: 3px;*/
}


.flat:focus {
  outline: none;
}
.flat:active {
  color: red;
}

.lobbyMenu-content a:hover {background-color: #f1f1f1}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.back-button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

